@import 'tailwindcss';

body {
  background-color: #050505;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

p,
a,
li,
span,
div {
  font-family: 'Quicksand', sans-serif;
}

@font-face {
  font-family: 'Roslindale Display';
  src:
    url('/fonts/RoslindaleVariable-VF%5BDisplay%5D-Testing.woff2')
      format('woff2'),
    url('/fonts/RoslindaleVariable-VF%5BDisplay%5D-Testing.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Custom Utilities */
.bg-grid-white {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
}

@keyframes lightning-diagonal-down {
  0% {
    transform: translate(-20%, -20%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(120%, 120%);
    opacity: 0;
  }
}

@keyframes lightning-diagonal-up {
  0% {
    transform: translate(-20%, 120%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(120%, -20%);
    opacity: 0;
  }
}

@keyframes lightning-horizontal {
  0% {
    transform: translateX(-120%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(220%);
    opacity: 0;
  }
}

@keyframes lightning-vertical {
  0% {
    transform: translateY(-120%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(220%);
    opacity: 0;
  }
}

@keyframes lightning-reverse-diagonal {
  0% {
    transform: translate(120%, 120%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translate(-20%, -20%);
    opacity: 0;
  }
}
